@import '~@csstools/normalize.css';

:root {
  --elbowBrown: #533118;
  --elbowWhite: #efefef;
  --elbowGray: #aaa;
  --elbowDark: #333;

  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #efefef;
  --mainDark: #232528;
  --mainYellow: #f0efec;
  --navHeight: 65px;
}

body {
  background-color: var(--mainWhite);
  color: var(--mainDark);
}
