@import '~@csstools/normalize.css';

:root {
  --elbowBrown: #533118;
  --elbowWhite: #fff;
  --elbowGray: #aaa;
  --elbowDark: #333;
  --navHeight: 65px;
}

body {
  background-color: var(--mainWhite);
  color: var(--mainDark);
}
