:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #ffffff;
  --mainDark: #232528;
  --mainYellow: #f0efec;
  --navHeight: 65px;
}

body {
  background-color: var(--mainWhite);
  color: var(--mainDark);
  /* margin: 1rem; */
}

@media (max-width: 600px) {
  body {
    /* margin: 0; */
  }
}
